In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import requests
from bs4 import BeautifulSoup

import pickle
import time

### Get student teacher ratio data

In [2]:
#inc = pd.read_csv('./data/inc.csv')

In [6]:
inc = pd.read_pickle('/Users/elijahcurme/Desktop/GA/capstone/pkl/education.pkl')

In [9]:
inc.head()

,Unnamed: 0,state,town,poverty,hs_completion,townstate,ZCTA,n_households,med_income,population,density,city,state_id,state_name,lat,lng,crime_rate,students_per_teacher
0,0,Alabama,Abbeville,20.7,79.1,"Abbeville, Alabama",36310,2555,40186,6055,12.2,Abbeville,AL,Alabama,31.60296,-85.21630,62.0,13.000000
1,1,Alabama,Adamsville,16,83.5,"Adamsville, Alabama",35005,2792,50271,7528,89.3,Adamsville,AL,Alabama,33.59515,-87.00089,269.0,17.666667
2,2,Alabama,Addison,34.2,85.1,"Addison, Alabama",35540,1075,45074,2436,12.6,Addison,AL,Alabama,34.23388,-87.18817,15.0,15.500000
3,3,Alabama,Akron,48.7,62.8,"Akron, Alabama",35441,372,36731,1089,6.1,Akron,AL,Alabama,32.85374,-87.73861,NaN,NaN
4,4,Alabama,Alabaster,11.1,88.8,"Alabaster, Alabama",35007,8628,69691,26328,270.8,Alabaster,AL,Alabama,33.21591,-86.79717,585.0,18.571429

In [10]:
states = []
for i in range(inc.shape[0]):
    states.append(inc.loc[i, 'state'])
states = list(set(states))

In [20]:
#inc['students_per_teacher'] = 0

In [11]:
def parse_soup(soup):
    soup_str = str(soup)
    soup_words = soup_str.split("\"")
    values = []
    for idx, word in enumerate(soup_words):
        if word == 'studentsPerTeacher':
            value = int(soup_words[idx+1].strip(':').strip(','))
            values.append(value)
    return np.mean(values)

In [12]:
def get_teacher_ratio(state, town):
    state = state.replace(' ', '-')
    town = town.replace(' ', '-')
    try:
        url = f'https://www.greatschools.org/{state}/{town}/schools/?view=table'
        res = requests.get(url)
        soup = BeautifulSoup(res.content, 'lxml')
        return parse_soup(soup)
    except:
        return np.nan

In [13]:
done_states = [
    'New York',
    'Virginia',
    'Alaska',
    'Kansas',
    'Washington',
    'Colorado',
    'Nebraska',
    'Tennessee',
    'Maryland',
    'Arizona',
    'Vermont',
    'Delaware',
    'Indiana',
    'Alabama',
    'Massachusetts',
    'Hawaii',
    'Mississippi',
    'North Carolina',
    'District of Columbia',
    'New Hampshire',
    'Minnesota',
    'Missouri',
    'Wyoming',
    'Georgia',
    'Rhode Island',
    'Ohio',
    'Nevada',
    'Montana',
    'Connecticut',
    'West Virginia',
    'Maine',
    'South Dakota',
    'Michigan',
    'North Dakota',
    'Iowa',
    'Florida',
    'South Carolina',
    'New Jersey',
    'Oregon',
    'Louisiana',
    'Kentucky',
    'Wisconsin',
    'Pennsylvania',
    'Texas',
    'Utah',
    'Idaho',
    'California',
    'Illinois',
    'New Mexico',
    'Oklahoma',
    'Arkansas'
]

In [14]:
# Loop through each town in each state to scrape crime data
for state in states:
    if state not in done_states:
        towns = list(set(inc.loc[inc['state'] == state, 'town']))
        for town in towns:
            inc.loc[(inc['state'] == state) & (inc['town'] == town), 'students_per_teacher'] = get_teacher_ratio(state, town)
            pd.to_pickle(inc, '/Users/elijahcurme/Desktop/GA/capstone/pkl/education.pkl')
        done_states.append(state)
    print(f"{state} finished")

/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3257: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Georgia finished
District of Columbia finished
Rhode Island finished
Ohio finished
North Carolina finished
New Hampshire finished
Virginia finished
Washington finished
Arizona finished
Nevada finished
Kansas finished
Missouri finished
Montana finished
Connecticut finished
West Virginia finished
Nebraska finished
Tennessee finished
Maine finished
New York finished
South Dakota finished
Indiana finished
Michigan finished
North Dakota finished
Iowa finished
Vermont finished
Florida finished
Alaska finished
Massachusetts finished
South Carolina finished
New Jersey finished
Oregon finished
Mississippi finished
Louisiana finished
Kentucky finished
Minnesota finished
Wisconsin finished
Pennsylvania finished
Texas finished
Utah finished
Idaho finished
Colorado finished
Delaware finished
California finished
Illinois finished
Wyoming finished
New Mexico finished
Maryland finished
Oklahoma finished
Hawaii finished
Arkansas finished
Alabama finished

In [17]:
inc.head()

,Unnamed: 0,state,town,poverty,hs_completion,townstate,ZCTA,n_households,med_income,population,density,city,state_id,state_name,lat,lng,crime_rate,students_per_teacher
0,0,Alabama,Abbeville,20.7,79.1,"Abbeville, Alabama",36310,2555,40186,6055,12.2,Abbeville,AL,Alabama,31.60296,-85.21630,62.0,13.000000
1,1,Alabama,Adamsville,16,83.5,"Adamsville, Alabama",35005,2792,50271,7528,89.3,Adamsville,AL,Alabama,33.59515,-87.00089,269.0,17.666667
2,2,Alabama,Addison,34.2,85.1,"Addison, Alabama",35540,1075,45074,2436,12.6,Addison,AL,Alabama,34.23388,-87.18817,15.0,15.500000
3,3,Alabama,Akron,48.7,62.8,"Akron, Alabama",35441,372,36731,1089,6.1,Akron,AL,Alabama,32.85374,-87.73861,NaN,NaN
4,4,Alabama,Alabaster,11.1,88.8,"Alabaster, Alabama",35007,8628,69691,26328,270.8,Alabaster,AL,Alabama,33.21591,-86.79717,585.0,18.571429

In [19]:
inc.isnull().sum()

Unnamed: 0                  0
state                       0
town                        0
poverty                     0
hs_completion               0
townstate                   0
ZCTA                        0
n_households                0
med_income                  0
population                  0
density                     0
city                        0
state_id                    0
state_name                  0
lat                         0
lng                         0
crime_rate              14409
students_per_teacher     4574
dtype: int64

In [27]:
inc.to_csv('./data/inc.csv')